<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_NBoJEH_AEeiSg66HCANpew" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;&#xA;&#xA;in event Tecla&#xA;in event Tecla_2&#xA;in event Tecla_3&#xA;in event TIMEOUT&#xA;&#xA;operation Apagar_rojo()&#xA;operation Apagar_Verde()&#xA;operation Apagar_azul()&#xA;operation Prender_rojo()&#xA;operation Prender_Verde()&#xA;operation Prender_azul()&#xA;&#xA;const ASCENDENTE: boolean = true&#xA;const DESCENDENTE: boolean = false&#xA;const FUNCIONANDO:integer = 1&#xA;const FRENADO:integer = 0&#xA;const BOTON_PRESIONADO:boolean= true&#xA;&#xA;var estado:integer&#xA;var sentido:boolean" name="Prefix">
    <regions xmi:id="_NCTegH_AEeiSg66HCANpew" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_a0ugAH_VEeiSg66HCANpew" specification="" incomingTransitions="_v4HvYH_XEeiShK6HCANpew">
        <regions xmi:id="_bNnhIH_VEeiSg66HCANpew">
          <vertices xsi:type="sgraph:State" xmi:id="_mtIojH_BEeiSg66HCANpew" specification="entry/Prender_rojo();&#xD;&#xA;Prender_Verde();&#xD;&#xA;Apagar_azul();" name="Estado6" incomingTransitions="_HMMU0H_CEeiSg66HCANpew _n4_iMH_CEeiSg66HCANpew">
            <outgoingTransitions xmi:id="_KCcwQH_CEeiSg66HCANpew" specification="TIMEOUT[estado == FUNCIONANDO &amp;&amp; sentido==ASCENDENTE]&#xD;&#xA;" target="_nJAFIH_BEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="_pLqrAH_CEeiSg66HCANpew" specification="TIMEOUT [estado == FUNCIONANDO&#xD;&#xA;&amp;&amp; sentido==DESCENDENTE]&#xD;&#xA;" target="_kqolQH_BEeiSg66HCANpew"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_kqolQH_BEeiSg66HCANpew" specification="entry/Apagar_rojo();&#xD;&#xA;Prender_Verde();&#xD;&#xA;Prender_azul();" name="Estado5" incomingTransitions="_CD5lUH_CEeiSg66HCANpew _pLqrAH_CEeiSg66HCANpew">
            <outgoingTransitions xmi:id="_HMMU0H_CEeiSg66HCANpew" specification="TIMEOUT[estado == FUNCIONANDO &amp;&amp; sentido==ASCENDENTE]&#xD;&#xA;" target="_mtIojH_BEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="_qle9oH_CEeiSg66HCANpew" specification="TIMEOUT [estado == FUNCIONANDO&#xD;&#xA;&amp;&amp; sentido==DESCENDENTE]&#xD;&#xA;" target="_hV9IcH_BEeiSg66HCANpew"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_hV9IcH_BEeiSg66HCANpew" specification="entry/&#xD;&#xA;Prender_rojo();&#xD;&#xA;Apagar_Verde();&#xD;&#xA;Prender_azul();" name="Estado4" incomingTransitions="_ultuUH_BEeiSg66HCANpew _qle9oH_CEeiSg66HCANpew">
            <outgoingTransitions xmi:id="_CD5lUH_CEeiSg66HCANpew" specification="TIMEOUT[estado == FUNCIONANDO &amp;&amp; sentido==ASCENDENTE]&#xD;&#xA;" target="_kqolQH_BEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="_szyBMH_CEeiSg66HCANpew" specification="TIMEOUT [estado == FUNCIONANDO&#xD;&#xA;&amp;&amp; sentido==DESCENDENTE]&#xD;&#xA;" target="_mFjEEH_BEeiSg66HCANpew"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_mFjEEH_BEeiSg66HCANpew" specification="entry/&#xD;&#xA;Prender_rojo();&#xD;&#xA;Apagar_Verde();&#xD;&#xA;Apagar_azul();" name="Estado3" incomingTransitions="_mFgAwH_BEeiSg66HCANpew _szyBMH_CEeiSg66HCANpew">
            <outgoingTransitions xmi:id="_mFmucn_BEeiSg66HCANpew" specification="TIMEOUT [estado == FUNCIONANDO&#xD;&#xA;&amp;&amp; sentido==DESCENDENTE]&#xD;&#xA;" target="_oc1hAH_AEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="_ultuUH_BEeiSg66HCANpew" specification="TIMEOUT[estado == FUNCIONANDO&#xD;&#xA;&#x9;&amp;&amp; sentido==ASCENDENTE]&#xD;&#xA;" target="_hV9IcH_BEeiSg66HCANpew"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_oc1hAH_AEeiSg66HCANpew" specification="entry/ Apagar_rojo();&#xD;&#xA;Prender_Verde();&#xD;&#xA;Apagar_azul();" name="Estado2" incomingTransitions="_p_eYcH_AEeiSg66HCANpew _mFmucn_BEeiSg66HCANpew">
            <outgoingTransitions xmi:id="_3RircH_AEeiSg66HCANpew" specification="TIMEOUT [estado == FUNCIONANDO&#xD;&#xA;&amp;&amp; sentido==DESCENDENTE]&#xD;&#xA;" target="_NEXUAH_AEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="_mFgAwH_BEeiSg66HCANpew" specification="TIMEOUT[estado == FUNCIONANDO &amp;&amp; sentido==ASCENDENTE]&#xD;&#xA;" target="_mFjEEH_BEeiSg66HCANpew"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_NEXUAH_AEeiSg66HCANpew" specification="entry/ Apagar_rojo();&#xD;&#xA;Apagar_Verde();&#xD;&#xA;Prender_azul();" name="Estado1" incomingTransitions="_3RircH_AEeiSg66HCANpew _NW15MH_CEeiSg66HCANpew">
            <outgoingTransitions xmi:id="_p_eYcH_AEeiSg66HCANpew" specification="TIMEOUT[estado == FUNCIONANDO&#xD;&#xA;&#x9;&amp;&amp; sentido==ASCENDENTE]&#xD;&#xA;" target="_oc1hAH_AEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="_kVBsMH_CEeiSg66HCANpew" specification="TIMEOUT&#xD;&#xA;&amp;&amp; (estado == FUNCIONANDO)&#xD;&#xA;&amp;&amp; (sentido==DESCENDENTE)&#xD;&#xA;" target="_nJAFIH_BEeiSg66HCANpew"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_nJAFIH_BEeiSg66HCANpew" specification="entry/&#xD;&#xA;Prender_rojo();&#xD;&#xA;Prender_Verde();&#xD;&#xA;Prender_azul();" name="Estado7" incomingTransitions="_KCcwQH_CEeiSg66HCANpew _kVBsMH_CEeiSg66HCANpew">
            <outgoingTransitions xmi:id="_NW15MH_CEeiSg66HCANpew" specification="TIMEOUT[estado == FUNCIONANDO &amp;&amp; sentido==ASCENDENTE]&#xD;&#xA;" target="_NEXUAH_AEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="_n4_iMH_CEeiSg66HCANpew" specification="TIMEOUT [estado == FUNCIONANDO&#xD;&#xA;&amp;&amp; sentido==DESCENDENTE]&#xD;&#xA;" target="_mtIojH_BEeiSg66HCANpew"/>
          </vertices>
        </regions>
        <regions xmi:id="_lcGHUH_VEeiSg66HCANpew">
          <vertices xsi:type="sgraph:State" xmi:id="_9q8fsH_PEeiSg66HCANpew" name="Lectura Portadores" incomingTransitions="_FTIZEH_QEeiSg66HCANpew _dt--YH_QEeiSg66HCANpew __wEjsH_QEeiSg66HCANpew">
            <outgoingTransitions xmi:id="_FTIZEH_QEeiSg66HCANpew" specification="Tecla_2 [BOTON_PRESIONADO] / estado = FUNCIONANDO&#xD;&#xA;" target="_9q8fsH_PEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="_dt--YH_QEeiSg66HCANpew" specification="Tecla [ BOTON_PRESIONADO] / estado = FRENADO" target="_9q8fsH_PEeiSg66HCANpew"/>
            <outgoingTransitions xmi:id="__wEjsH_QEeiSg66HCANpew" specification="Tecla_3  [BOTON_PRESIONADO] / sentido = !sentido&#xD;&#xA;" target="_9q8fsH_PEeiSg66HCANpew"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_NEUQsH_AEeiSg66HCANpew">
        <outgoingTransitions xmi:id="_v4HvYH_XEeiShK6HCANpew" specification="" target="_a0ugAH_VEeiSg66HCANpew"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_NCS3cH_AEeiSg66HCANpew" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_NBoJEH_AEeiSg66HCANpew" measurementUnit="Pixel">
    <children xmi:id="_NCgS0H_AEeiSg66HCANpew" type="Region" element="_NCTegH_AEeiSg66HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_NELGwH_AEeiSg66HCANpew" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NELGwX_AEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NELt0H_AEeiSg66HCANpew"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NEPYMH_AEeiSg66HCANpew" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_a0ugA3_VEeiSg66HCANpew" type="State" element="_a0ugAH_VEeiSg66HCANpew">
          <children xsi:type="notation:DecorationNode" xmi:id="_a04RAH_VEeiSg66HCANpew" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_a04RAX_VEeiSg66HCANpew"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_a04RAn_VEeiSg66HCANpew"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_a04RA3_VEeiSg66HCANpew" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_a04RBH_VEeiSg66HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_a04RBX_VEeiSg66HCANpew"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_a04RBn_VEeiSg66HCANpew" type="StateFigureCompartment">
            <children xmi:id="_aB8GQH_XEeiShK6HCANpew" type="Region" element="_bNnhIH_VEeiSg66HCANpew">
              <children xsi:type="notation:DecorationNode" xmi:id="_aB8GQX_XEeiShK6HCANpew" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GQn_XEeiShK6HCANpew"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GQ3_XEeiShK6HCANpew"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_aB8GRH_XEeiShK6HCANpew" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_aB8GRX_XEeiShK6HCANpew" type="State" element="_mtIojH_BEeiSg66HCANpew">
                  <children xsi:type="notation:DecorationNode" xmi:id="_aB8GRn_XEeiShK6HCANpew" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GR3_XEeiShK6HCANpew"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GSH_XEeiShK6HCANpew"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GSX_XEeiShK6HCANpew" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_aB8GSn_XEeiShK6HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GS3_XEeiShK6HCANpew"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GTH_XEeiShK6HCANpew" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GTX_XEeiShK6HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_aB8GTn_XEeiShK6HCANpew"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aB8GT3_XEeiShK6HCANpew" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GUH_XEeiShK6HCANpew" x="450" y="626" width="121" height="93"/>
                </children>
                <children xmi:id="_aB8GUX_XEeiShK6HCANpew" type="State" element="_kqolQH_BEeiSg66HCANpew">
                  <children xsi:type="notation:DecorationNode" xmi:id="_aB8GUn_XEeiShK6HCANpew" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GU3_XEeiShK6HCANpew"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GVH_XEeiShK6HCANpew"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GVX_XEeiShK6HCANpew" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_aB8GVn_XEeiShK6HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GV3_XEeiShK6HCANpew"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GWH_XEeiShK6HCANpew" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GWX_XEeiShK6HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_aB8GWn_XEeiShK6HCANpew"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aB8GW3_XEeiShK6HCANpew" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GXH_XEeiShK6HCANpew" x="785" y="626" width="121" height="93"/>
                </children>
                <children xmi:id="_aB8GXX_XEeiShK6HCANpew" type="State" element="_hV9IcH_BEeiSg66HCANpew">
                  <children xsi:type="notation:DecorationNode" xmi:id="_aB8GXn_XEeiShK6HCANpew" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GX3_XEeiShK6HCANpew"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GYH_XEeiShK6HCANpew"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GYX_XEeiShK6HCANpew" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_aB8GYn_XEeiShK6HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GY3_XEeiShK6HCANpew"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GZH_XEeiShK6HCANpew" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GZX_XEeiShK6HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_aB8GZn_XEeiShK6HCANpew"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aB8GZ3_XEeiShK6HCANpew" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GaH_XEeiShK6HCANpew" x="1089" y="626" width="121" height="93"/>
                </children>
                <children xmi:id="_aB8GaX_XEeiShK6HCANpew" type="State" element="_mFjEEH_BEeiSg66HCANpew">
                  <children xsi:type="notation:DecorationNode" xmi:id="_aB8Gan_XEeiShK6HCANpew" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8Ga3_XEeiShK6HCANpew"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GbH_XEeiShK6HCANpew"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GbX_XEeiShK6HCANpew" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_aB8Gbn_XEeiShK6HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8Gb3_XEeiShK6HCANpew"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GcH_XEeiShK6HCANpew" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GcX_XEeiShK6HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_aB8Gcn_XEeiShK6HCANpew"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aB8Gc3_XEeiShK6HCANpew" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GdH_XEeiShK6HCANpew" x="1055" y="92" width="121" height="93"/>
                </children>
                <children xmi:id="_aB8GdX_XEeiShK6HCANpew" type="State" element="_oc1hAH_AEeiSg66HCANpew">
                  <children xsi:type="notation:DecorationNode" xmi:id="_aB8Gdn_XEeiShK6HCANpew" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8Gd3_XEeiShK6HCANpew"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GeH_XEeiShK6HCANpew"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GeX_XEeiShK6HCANpew" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_aB8Gen_XEeiShK6HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8Ge3_XEeiShK6HCANpew"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GfH_XEeiShK6HCANpew" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GfX_XEeiShK6HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_aB8Gfn_XEeiShK6HCANpew"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aB8Gf3_XEeiShK6HCANpew" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GgH_XEeiShK6HCANpew" x="620" y="86" width="121" height="93"/>
                </children>
                <children xmi:id="_aB8GgX_XEeiShK6HCANpew" type="State" element="_NEXUAH_AEeiSg66HCANpew">
                  <children xsi:type="notation:DecorationNode" xmi:id="_aB8Ggn_XEeiShK6HCANpew" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8Gg3_XEeiShK6HCANpew"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GhH_XEeiShK6HCANpew"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GhX_XEeiShK6HCANpew" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_aB8Ghn_XEeiShK6HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8Gh3_XEeiShK6HCANpew"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GiH_XEeiShK6HCANpew" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GiX_XEeiShK6HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_aB8Gin_XEeiShK6HCANpew"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aB8Gi3_XEeiShK6HCANpew" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GjH_XEeiShK6HCANpew" x="220" y="75" width="119" height="91"/>
                </children>
                <children xmi:id="_aB8GjX_XEeiShK6HCANpew" type="State" element="_nJAFIH_BEeiSg66HCANpew">
                  <children xsi:type="notation:DecorationNode" xmi:id="_aB8Gjn_XEeiShK6HCANpew" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8Gj3_XEeiShK6HCANpew"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GkH_XEeiShK6HCANpew"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GkX_XEeiShK6HCANpew" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_aB8Gkn_XEeiShK6HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8Gk3_XEeiShK6HCANpew"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aB8GlH_XEeiShK6HCANpew" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GlX_XEeiShK6HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_aB8Gln_XEeiShK6HCANpew"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aB8Gl3_XEeiShK6HCANpew" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GmH_XEeiShK6HCANpew" x="24" y="448" width="121" height="93"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8Go3_XEeiShK6HCANpew"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GpH_XEeiShK6HCANpew" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8GpX_XEeiShK6HCANpew"/>
            </children>
            <children xmi:id="_8x0QkH_VEeiSg66HCANpew" type="Region" element="_lcGHUH_VEeiSg66HCANpew">
              <children xsi:type="notation:DecorationNode" xmi:id="_8x0QkX_VEeiSg66HCANpew" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_8x0Qkn_VEeiSg66HCANpew"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_8x0Qk3_VEeiSg66HCANpew"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_8x0QlH_VEeiSg66HCANpew" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_8x0QlX_VEeiSg66HCANpew" type="State" element="_9q8fsH_PEeiSg66HCANpew">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8x0Qln_VEeiSg66HCANpew" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8x0Ql3_VEeiSg66HCANpew"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8x0QmH_VEeiSg66HCANpew"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8x0QmX_VEeiSg66HCANpew" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8x0Qmn_VEeiSg66HCANpew" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8x0Qm3_VEeiSg66HCANpew"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8x0QnH_VEeiSg66HCANpew" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8x0QnX_VEeiSg66HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8x0Qnn_VEeiSg66HCANpew"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8x0Qn3_VEeiSg66HCANpew" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8x0QoH_VEeiSg66HCANpew" x="129" y="204" width="196" height="131"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8x0QoX_VEeiSg66HCANpew"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_8x0Qon_VEeiSg66HCANpew" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8x0Qo3_VEeiSg66HCANpew"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_a0ugBH_VEeiSg66HCANpew" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_a0ugBX_VEeiSg66HCANpew"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_a04RB3_VEeiSg66HCANpew" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_a0ugBn_VEeiSg66HCANpew" x="169" y="53" width="1896" height="926"/>
        </children>
        <children xmi:id="_aB8GmX_XEeiShK6HCANpew" type="Entry" element="_NEUQsH_AEeiSg66HCANpew">
          <children xmi:id="_aB8Gmn_XEeiShK6HCANpew" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_aB8Gm3_XEeiShK6HCANpew" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GnH_XEeiShK6HCANpew"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_aB8GnX_XEeiShK6HCANpew"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8Gnn_XEeiShK6HCANpew" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8Gn3_XEeiShK6HCANpew"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_aB8GoH_XEeiShK6HCANpew" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_aB8GoX_XEeiShK6HCANpew" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aB8Gon_XEeiShK6HCANpew" x="854" y="-2" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEP_QH_AEeiSg66HCANpew"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_NCgS0X_AEeiSg66HCANpew" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NER0cH_AEeiSg66HCANpew" x="90" y="30" width="2127" height="1456"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_NFD3kX_AEeiSg66HCANpew" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_NFEeoH_AEeiSg66HCANpew" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NFEeoX_AEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NFEeon_AEeiSg66HCANpew"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NFEeo3_AEeiSg66HCANpew" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NFEepH_AEeiSg66HCANpew"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NFFFsH_AEeiSg66HCANpew" x="-150" y="30" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_NCS3cX_AEeiSg66HCANpew"/>
    <edges xmi:id="_p_gNoH_AEeiSg66HCANpew" type="Transition" element="_p_eYcH_AEeiSg66HCANpew" source="_aB8GgX_XEeiShK6HCANpew" target="_aB8GdX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_p_g0s3_AEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_p_g0tH_AEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_p_g0tX_AEeiSg66HCANpew" x="-19" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_p_g0sH_AEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_p_g0sn_AEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_p_g0sX_AEeiSg66HCANpew" points="[21, -53, -298, 3]$[307, -53, -12, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_p_kfEH_AEeiSg66HCANpew" id="(0.8163265306122449,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_p_kfEX_AEeiSg66HCANpew" id="(0.10743801652892562,0.22580645161290322)"/>
    </edges>
    <edges xmi:id="_3RlHsH_AEeiSg66HCANpew" type="Transition" element="_3RircH_AEeiSg66HCANpew" source="_aB8GdX_XEeiShK6HCANpew" target="_aB8GgX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_3Rluw3_AEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3RluxH_AEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3RluxX_AEeiSg66HCANpew" x="-55" y="-46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3RluwH_AEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3Rluwn_AEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3RluwX_AEeiSg66HCANpew" points="[-42, -21, 297, 14]$[-328, -21, 11, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3Rnj8H_AEeiSg66HCANpew" id="(0.36363636363636365,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3RoLAH_AEeiSg66HCANpew" id="(0.9081632653061225,0.7534246575342466)"/>
    </edges>
    <edges xmi:id="_mFidDH_BEeiSg66HCANpew" type="Transition" element="_mFgAwH_BEeiSg66HCANpew" source="_aB8GdX_XEeiShK6HCANpew" target="_aB8GaX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_mFidDX_BEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mFidDn_BEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mFidD3_BEeiSg66HCANpew" x="64" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mFidEH_BEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mFidEX_BEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mFidEn_BEeiSg66HCANpew" points="[0, -32, -401, 2]$[384, -32, -17, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mFidE3_BEeiSg66HCANpew" id="(1.0,0.46236559139784944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mFidFH_BEeiSg66HCANpew" id="(0.1487603305785124,0.22580645161290322)"/>
    </edges>
    <edges xmi:id="_mFmHYH_BEeiSg66HCANpew" type="Transition" element="_mFmucn_BEeiSg66HCANpew" source="_aB8GaX_XEeiShK6HCANpew" target="_aB8GdX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_mFmHZn_BEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mFmucX_BEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mFmucH_BEeiSg66HCANpew" x="-34" y="-42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mFmHZX_BEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mFmHZH_BEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mFmHY3_BEeiSg66HCANpew" points="[0, -1, 396, -15]$[-384, -1, 12, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mFmHYn_BEeiSg66HCANpew" id="(0.0,0.7526881720430108)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mFmHYX_BEeiSg66HCANpew" id="(0.9008264462809917,0.7634408602150538)"/>
    </edges>
    <edges xmi:id="_ulvjgH_BEeiSg66HCANpew" type="Transition" element="_ultuUH_BEeiSg66HCANpew" source="_aB8GaX_XEeiShK6HCANpew" target="_aB8GXX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_ulwKkX_BEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ulwKkn_BEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ulwKk3_BEeiSg66HCANpew" x="61" y="-125"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ulvjgX_BEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ulwKkH_BEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ulvjgn_BEeiSg66HCANpew" points="[12, 0, 29, -236]$[12, 227, 29, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ulx_wH_BEeiSg66HCANpew" id="(0.8099173553719008,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ulx_wX_BEeiSg66HCANpew" id="(0.6611570247933884,0.10752688172043011)"/>
    </edges>
    <edges xmi:id="_CD7agH_CEeiSg66HCANpew" type="Transition" element="_CD5lUH_CEeiSg66HCANpew" source="_aB8GXX_XEeiShK6HCANpew" target="_aB8GUX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_CD7ahH_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CD7ahX_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CD7ahn_CEeiSg66HCANpew" x="-58" y="55"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CD7agX_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CD7ag3_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CD7agn_CEeiSg66HCANpew" points="[-64, -76, 209, -64]$[-252, -76, 21, -64]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CD92wH_CEeiSg66HCANpew" id="(0.5537190082644629,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CD92wX_CEeiSg66HCANpew" id="(0.8264462809917356,0.8709677419354839)"/>
    </edges>
    <edges xmi:id="_HMOxEH_CEeiSg66HCANpew" type="Transition" element="_HMMU0H_CEeiSg66HCANpew" source="_aB8GUX_XEeiShK6HCANpew" target="_aB8GRX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_HMPYIH_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HMPYIX_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HMPYIn_CEeiSg66HCANpew" x="17" y="33"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HMOxEX_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HMOxE3_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HMOxEn_CEeiSg66HCANpew" points="[-41, 12, 169, -1]$[-200, 12, 10, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HMRNUH_CEeiSg66HCANpew" id="(0.35537190082644626,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HMRNUX_CEeiSg66HCANpew" id="(0.9173553719008265,0.15053763440860216)"/>
    </edges>
    <edges xmi:id="_KCd-YH_CEeiSg66HCANpew" type="Transition" element="_KCcwQH_CEeiSg66HCANpew" source="_aB8GRX_XEeiShK6HCANpew" target="_aB8GjX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_KCelcX_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KCelcn_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KCelc3_CEeiSg66HCANpew" x="-42" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KCd-YX_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KCelcH_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KCd-Yn_CEeiSg66HCANpew" points="[0, -52, 333, 294]$[-175, -52, 158, 294]$[-175, -328, 158, 18]$[-315, -328, 18, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KCgaoH_CEeiSg66HCANpew" id="(0.0,0.7741935483870968)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KChBsH_CEeiSg66HCANpew" id="(0.8512396694214877,0.13978494623655913)"/>
    </edges>
    <edges xmi:id="_NW3uYH_CEeiSg66HCANpew" type="Transition" element="_NW15MH_CEeiSg66HCANpew" source="_aB8GjX_XEeiShK6HCANpew" target="_aB8GgX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_NW3uZH_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NW3uZX_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NW3uZn_CEeiSg66HCANpew" x="157" y="36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NW3uYX_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NW3uY3_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NW3uYn_CEeiSg66HCANpew" points="[101, -66, -154, 302]$[101, -206, -154, 162]$[245, -206, -10, 162]$[245, -353, -10, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NW5jkH_CEeiSg66HCANpew" id="(0.0,0.7526881720430108)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NW5jkX_CEeiSg66HCANpew" id="(0.5204081632653061,0.8356164383561644)"/>
    </edges>
    <edges xmi:id="_kVEIcH_CEeiSg66HCANpew" type="Transition" element="_kVBsMH_CEeiSg66HCANpew" source="_aB8GgX_XEeiShK6HCANpew" target="_aB8GjX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_kVEvgX_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kVEvgn_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kVEvg3_CEeiSg66HCANpew" x="-67" y="8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kVEIcX_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kVEvgH_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kVEIcn_CEeiSg66HCANpew" points="[70, 35, 36, -225]$[70, 249, 36, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kVHLwH_CEeiSg66HCANpew" id="(0.0,0.6027397260273972)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kVHLwX_CEeiSg66HCANpew" id="(0.38016528925619836,0.12903225806451613)"/>
    </edges>
    <edges xmi:id="_n5BXYH_CEeiSg66HCANpew" type="Transition" element="_n4_iMH_CEeiSg66HCANpew" source="_aB8GjX_XEeiShK6HCANpew" target="_aB8GRX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_n5BXZH_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n5BXZX_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n5B-cH_CEeiSg66HCANpew" x="118" y="48"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_n5BXYX_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_n5BXY3_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_n5BXYn_CEeiSg66HCANpew" points="[-57, 0, -397, -273]$[-57, 288, -397, 15]$[339, 288, -1, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n5DzoH_CEeiSg66HCANpew" id="(0.7933884297520661,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n5DzoX_CEeiSg66HCANpew" id="(0.01652892561983471,0.8172043010752689)"/>
    </edges>
    <edges xmi:id="_pLsgMH_CEeiSg66HCANpew" type="Transition" element="_pLqrAH_CEeiSg66HCANpew" source="_aB8GRX_XEeiShK6HCANpew" target="_aB8GUX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_pLtHQX_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pLtHQn_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pLtHQ3_CEeiSg66HCANpew" x="-2" y="43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_pLsgMX_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_pLtHQH_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_pLsgMn_CEeiSg66HCANpew" points="[0, 4, -259, 4]$[262, 22, 3, 22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pLu8cH_CEeiSg66HCANpew" id="(1.0,0.7526881720430108)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pLu8cX_CEeiSg66HCANpew" id="(0.5206611570247934,0.7526881720430108)"/>
    </edges>
    <edges xmi:id="_qlhZ4H_CEeiSg66HCANpew" type="Transition" element="_qle9oH_CEeiSg66HCANpew" source="_aB8GUX_XEeiShK6HCANpew" target="_aB8GXX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_qliA8H_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qliA8X_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qliA8n_CEeiSg66HCANpew" x="-60" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qlhZ4X_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qlhZ43_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qlhZ4n_CEeiSg66HCANpew" points="[25, -13, -208, 1]$[229, -13, -4, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qljPEH_CEeiSg66HCANpew" id="(0.7851239669421488,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qljPEX_CEeiSg66HCANpew" id="(0.04132231404958678,0.8172043010752689)"/>
    </edges>
    <edges xmi:id="_szz2YH_CEeiSg66HCANpew" type="Transition" element="_szyBMH_CEeiSg66HCANpew" source="_aB8GXX_XEeiShK6HCANpew" target="_aB8GaX_XEeiShK6HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_szz2ZH_CEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_szz2ZX_CEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_szz2Zn_CEeiSg66HCANpew" x="124" y="-47"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_szz2YX_CEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_szz2Y3_CEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_szz2Yn_CEeiSg66HCANpew" points="[5, 0, 2, 232]$[5, -227, 2, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sz1rkH_CEeiSg66HCANpew" id="(0.35537190082644626,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sz1rkX_CEeiSg66HCANpew" id="(0.38016528925619836,0.946236559139785)"/>
    </edges>
    <edges xmi:id="_FTSKEH_QEeiSg66HCANpew" type="Transition" element="_FTIZEH_QEeiSg66HCANpew" source="_8x0QlX_VEeiSg66HCANpew" target="_8x0QlX_VEeiSg66HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_FTSKFH_QEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FTSKFX_QEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FTSKFn_QEeiSg66HCANpew" x="-131" y="33"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FTSKEX_QEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FTSKE3_QEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FTSKEn_QEeiSg66HCANpew" points="[-23, 93, 1, 19]$[-19, 93, 5, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FTSKF3_QEeiSg66HCANpew" id="(1.0,0.26717557251908397)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FTSKGH_QEeiSg66HCANpew" id="(0.8775510204081632,0.8549618320610687)"/>
    </edges>
    <edges xmi:id="_dt--YX_QEeiSg66HCANpew" type="Transition" element="_dt--YH_QEeiSg66HCANpew" source="_8x0QlX_VEeiSg66HCANpew" target="_8x0QlX_VEeiSg66HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_dt--ZX_QEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dt--Zn_QEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dt--Z3_QEeiSg66HCANpew" x="-87" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dt--Yn_QEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dt--ZH_QEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dt--Y3_QEeiSg66HCANpew" points="[36, -126, 83, -86]$[36, -186, 83, -146]$[196, -186, 243, -146]$[196, -71, 243, -31]$[129, -71, 176, -31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dt--aH_QEeiSg66HCANpew" id="(0.32653061224489793,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dt--aX_QEeiSg66HCANpew" id="(0.08163265306122448,0.6870229007633588)"/>
    </edges>
    <edges xmi:id="__wEjsX_QEeiSg66HCANpew" type="Transition" element="__wEjsH_QEeiSg66HCANpew" source="_8x0QlX_VEeiSg66HCANpew" target="_8x0QlX_VEeiSg66HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="__wEjtX_QEeiSg66HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__wEjtn_QEeiSg66HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__wEjt3_QEeiSg66HCANpew" x="-53" y="128"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__wEjsn_QEeiSg66HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__wEjtH_QEeiSg66HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__wEjs3_QEeiSg66HCANpew" points="[-3, 126, 16, 45]$[-3, 193, 16, 112]$[-138, 193, -119, 112]$[-138, 65, -119, -16]$[-43, 65, -24, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__wEjuH_QEeiSg66HCANpew" id="(0.22959183673469388,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__wEjuX_QEeiSg66HCANpew" id="(0.12755102040816327,0.648854961832061)"/>
    </edges>
    <edges xmi:id="_v4HvYX_XEeiShK6HCANpew" type="Transition" element="_v4HvYH_XEeiShK6HCANpew" source="_aB8GmX_XEeiShK6HCANpew" target="_a0ugA3_VEeiSg66HCANpew">
      <children xsi:type="notation:DecorationNode" xmi:id="_v4Q5UH_XEeiShK6HCANpew" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_v4Q5UX_XEeiShK6HCANpew"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_v4Q5Un_XEeiShK6HCANpew" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_v4HvYn_XEeiShK6HCANpew" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_v4HvZH_XEeiShK6HCANpew" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_v4HvY3_XEeiShK6HCANpew" points="[5, 0, -185, -2]$[192, -9, 2, -11]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_v4Q5U3_XEeiShK6HCANpew" id="(0.5,0.017241379310344827)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
